# Core application dependencies
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
loguru
pydantic-settings
asyncpg==0.30.0
python-slugify==8.0.4
pytest-asyncio==1.2.0

# Kafka consumer dependencies
aiokafka